{% extends 'base.html' %}
{% load static %}
{% load i18n %}
	
	
{% block title %} <title>muckup.uz</title> {% endblock title %}

	{% block css %} 
		<link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
		<!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/fakeLoader.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

		<style type="text/css"></style>
	{% endblock css %}

	{% block body %}
		<section class="container-fluid pt-5 pb-5">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-12 col-md-8 col-lg-8 col-xl-6 border p-5">


						<!-- Messages -->
						{% include 'includes/messages.html' %}

						{% if form.non_field_errors %}
							<div id="messages">
								{% for message in form.non_field_errors %}
									<div class="alert alert-dismissible alert-danger" role="alert">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
										{{ message|escape }}
									</div>
								{% endfor %}
							</div>
						{% endif %}
						<!-- Messages -->

						<form class="account-register form-narrow" id="signup_form" method="POST" action="" >
							<div class="row">
								<div class="col text-center title">
									<h1 class="text-dark">{% trans 'Change Password' %}</h1>
								</div>
							</div>
							{% csrf_token %}
                            <!-- <div class="form-group{% if form.full_name.errors %} has-error{% endif %}">
								<label class="control-label" for="id_full_name">{% trans 'Full Name' %}</label>
								<div class="form-inline">
									<input class="form-control input-lg" id="id_full_name" name="full_name" style="width: 100%" type="text" placeholder='(e.x) Jhone Doe' required />
									<div class="error-block">{{ form.full_name.errors }}</div>
							  	</div>
							</div>
							<div class="form-group{% if form.phone_number.errors %} has-error{% endif %}">
								<label class="control-label" for="id_phone_number">{% trans 'Phone Number' %}</label>
								<div class="form-inline">
									<input class="form-control input-lg" id="id_phone_number" name="phone_number" style="width: 100%" type="text" value="{{ phone_number }}" readonly />
									<div class="error-block">{{ form.phone_number.errors }}</div>
							  	</div>
							</div> -->
							<div class="form-group{% if form.password1.errors %} has-error{% endif %}">
								<label class="control-label" for="id_password1">{% trans 'Password' %}</label>
								<div class="form-inline">
									<input class="form-control input-lg" id="id_password1" name="password1" style="width: 100%" type="password" required />
									<div class="error-block">{{ form.password1.errors }}</div>
							  	</div>
							</div>
                            <div class="form-group{% if form.password2.errors %} has-error{% endif %}">
								<label class="control-label" for="id_password2">{% trans 'Confirm Password' %}</label>
								<div class="form-inline">
									<input class="form-control input-lg" id="id_password2" name="password2" style="width: 100%" type="password" required />
									<div class="error-block">{{ form.password2.errors }}</div>
							  	</div>
							</div>
							<div class="row justify-content-start mt-4 pb-4">
								<div class="col">
									<button type="submit" class="btn mt-4 w-100 register_btn">{% trans 'Set Password' %}</button>
								</div>
							</div>
						</form>

					</div>
				</div>
			</div>
		</section>
	{% endblock body %}

	{% block js %} 
		<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/fakeLoader.min.js' %}"></script>
		<script src="{% static 'js/script.js' %}"></script>
	{% endblock js %}