{% extends 'base.html' %}
{% load static %}
{% load i18n %}
	
	
{% block title %} <title>muckup.uz</title> {% endblock title %}

	{% block css %} 
		<link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
		<!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/fakeLoader.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

		<style type="text/css"></style>
	{% endblock css %}

	{% block body %}
		<section class="container-fluid pt-5 pb-5">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-12 col-md-8 col-lg-8 col-xl-6 border p-5">


						<!-- Messages -->
						{% include 'includes/messages.html' %}

						{% if form.non_field_errors %}
							<div id="messages">
								{% for message in form.non_field_errors %}
									<div class="alert alert-dismissible alert-danger" role="alert">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
										{{ message|escape }}
									</div>
								{% endfor %}
							</div>
						{% endif %}
						<!-- Messages -->

						<form class="account-register form-narrow" id="signup_form" method="POST" action="" >
							<div class="row">
								<div class="col text-center title">
									<h1 class="text-dark">{% trans 'Confirmation Code' %}</h1>
								</div>
							</div>
							{% csrf_token %}
                            <div class="form-group">
								<div class="form-inline">
									<input class="form-control input-lg" id="id_phone_number" name="phonenumber" style="width: 100%" type="text" value='{{ phone_number }}' readonly/>
							  	</div>
							</div>
							<div class="form-group{% if form.confirmation_code.errors %} has-error{% endif %}">
								<div class="form-inline">
									<input class="form-control input-lg" id="id_confirmation_code" name="confirmation_code" style="width: 100%" type="number" placeholder="5 digit confirmation code" required/>
									<div class="error-block">{{ form.confirmation_code.errors }}</div>
							  	</div>
							</div>

							<div class="row justify-content-start mt-4 pb-4">
								<div class="col">
									<button type="submit" class="btn mt-4 w-100 register_btn">{% trans 'Confirm' %}</button>
								</div>
							</div>
						</form>

					</div>
				</div>
			</div>
		</section>
	{% endblock body %}

	{% block js %} 
		<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/fakeLoader.min.js' %}"></script>
		<script src="{% static 'js/script.js' %}"></script>
	{% endblock js %}