{% extends 'base.html' %}
{% load static %}

	{% block css %}

		<link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/fakeLoader.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		
	<style>

@media (max-width:576px) {
    		
			.imageaboutas img{
				width: 500px;
			}  
						   }
		
					  @media (min-width: 576px) and (max-width: 768px) {
					  
			.imageaboutas img{
				width: 500px;
			}	
					}
					@media (min-width: 768px) and (max-width: 992px) {
					  
			.imageaboutas img{
				width: 350px;
			}	
					}
					@media (min-width: 992px) and (max-width: 1200px) {
					  
			.imageaboutas img{
				width: 500px;
			}
					}
					@media (min-width: 1200px) {
				  
			.imageaboutas img{
				width: 650px;
			}
					}
	</style>


	{% endblock css %}

	{% block title %} <title>muckup.uz</title> {% endblock title %}

	{% block body %}

		<section class="container pb-5 pt-5">
			<div class="row pt-5">
				
					
				<div class="col-12 col-sm-12 col-md-10 col-lg-12 col-xl-12 m-auto h6 text-justify imageaboutas">
					<img src="{% static 'img/product/3.jpg' %}" class="float-left">
					<h5 class="font-weight-bold text-dark">Biz haqimizda</h5>
					<p>	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				
			</div>
		</section>

	{% endblock body %}

	{% block js %}

		<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/fakeLoader.min.js' %}"></script>
		<script src="{% static 'js/script.js' %}"></script>
	
	{% endblock js %}