<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>muckup.uz</title>
  <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/fakeLoader.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body >

  <header class="container-fluid pl-0 pr-0 fixed-top bg-light">
    <nav class="container navbar navbar-expand-lg navbar-light text-center pl-0 pr-0">
      <a class="navbar-brand pl-2" href="index.html"><img src="img/logo.svg" class="headerLogo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto pt-2">
          <li class="nav-item">
            <a class="nav-link active h4  bestFont2 text-dark pr-3" aria-current="page" href="index.html">Asosiy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active h4  bestFont2 text-dark pr-3 pl-3" href="aboutus.html">Biz haqimizda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active h4  bestFont2 text-dark pr-3 pl-3" href="products.html">Kategoriya</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active h4  bestFont2 text-dark pr-5 pl-3" href="usefull.html">Foydali</a>
          </li>
        </ul>
        <form class="socialIconHeader form-inline justify-content-center pb-3 pt-3">
            
            <div class="dropdown">
                <img src="img/user.svg" width="35" height="35" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="dropdown-menu  dropdown-menu-lg-right dropdown-menu-xl-right text-center" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="login.html">Kirish</a>
                <a class="dropdown-item" href="register.html">Registratsiya</a>
                <a class="dropdown-item" href="myprofil.html">Mening profilim</a>
                <a class="dropdown-item" href="#!">Chiqish</a>
              </div>
            </div>
        </form>    
  
      </div>
    </div>
  </nav>
  </header> 
  





  <section class="container-fluid pt-5 pb-5" >
    <div class="container pt-lg-5 pb-lg-5">
      <div class="row justify-content-center pt-5">
        <div class="col-12 col-md-8 col-lg-8 col-xl-6 border p-5">
          <div class="row">
            <div class="col text-center title">
              <h1 class="text-dark font-weight-bold">Регистрация</h1>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col mt-4">
              <input type="text" class="form-control" placeholder="Полное имя">
            </div>
          </div>
          <div class="row align-items-center mt-4">
            <div class="col">
              <input type="email" class="form-control" placeholder="Эл. адрес">
            </div>
          </div>
            <div class="row align-items-center mt-4">
            <div class="col">
              <input type="number" class="form-control" placeholder="Телефонный номер">
            </div>
          </div>
          <div class="row align-items-center mt-4">
            <div class="col">
              <input type="password" class="form-control" placeholder="Пароль">
            </div>
            <div class="col">
              <input type="password" class="form-control" placeholder="Подтвердите Пароль">
            </div>
          </div>
          <div class="row justify-content-start mt-4 pb-4">
            <div class="col">
              <div class="form-check">
                <label class="form-check-label loginColor">
                  <input type="checkbox" class="form-check-input loginColor">
                  Настоящим я соглашаюсь соблюдать <a href="#!" class="text-secondary">Условия.</a>
                </label>
              </div>

              <button class="btn mt-4 w-100 register_btn text-dark font-weight-bold">Регистрация</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <footer class="container-fluid pt-5 pb-2 border-top bg-light">
    <div class="container">
        <div class="row text-dark text-center">
     <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <a href="#!"><img src="img/logo.svg" width="200"></a>
       <ul class="list-unstyled pt-3">
         <li><a href="index.html" class="text-dark text-decoration-none">Asosiy</a></li>
         <li><a href="aboutus.html" class="text-dark text-decoration-none">Biz haqimizda</a></li>
         <li><a href="products.html" class="text-dark text-decoration-none">Muckup</a></li>
         <li><a href="usefull.html" class="text-dark text-decoration-none">Foydali</a></li>
       </ul>
     </div>
     <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <ul class="list-unstyled pt-2">
         <li class="pl-3"><a href="products.html" class="text-dark text-decoration-none">3D Model</a></li>
         <li class="pl-3"><a href="products.html" class="text-dark text-decoration-none">Fudbolkalar</a></li>
         <li class="pl-3"><a href="products.html" class="text-dark text-decoration-none">Buyumlar</a></li>
         <li class="pl-3"><a href="products.html" class="text-dark text-decoration-none">Avtomobillar</a></li>
         <li class="pl-3"><a href="products.html" class="text-dark text-decoration-none">Sumka</a></li>
         <li class="pl-3"><a href="products.html" class="text-dark text-decoration-none">Kepka</a></li>
       </ul> 
      </div>
     <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
       <ul class="list-unstyled pt-2">
         <li><a href="products.html" class="text-dark text-decoration-none">Kitob</a></li>
         <li><a href="products.html" class="text-dark text-decoration-none">Soat</a></li>
         <li><a href="products.html" class="text-dark text-decoration-none">Brelok</a></li>
         <li><a href="products.html" class="text-dark text-decoration-none">Avtomobillar</a></li>
         <li><a href="products.html" class="text-dark text-decoration-none">Krushka</a></li>
         <li><a href="products.html" class="text-dark text-decoration-none">Qurilmalar</a></li>
       </ul>
     </div>
     <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 mb-3 text-center">
        <a href="#!"><span class="youtube"><i class="fa fa-youtube mr-2"></i></span></a>
        <a href="#!"><span class="telegram"><i class="fa fa-telegram mr-2"></i></span></a>
        <a href="#!"><span class="instagram"><i class="fa fa-instagram mr-2"></i></span></a>
        <a href="#!"><span class="facebook"><i class="fa fa-facebook-square mr-2"></i></span></a>
     </div>
  
  </div>
  <div class="row border-top pt-3 text-secondary">
     <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center text-sm-center text-md-left text-lg-left text-xl-left">
        <small>© 2021 Barcha huquqlar himoyalangan.</small>
      </div>
     <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center text-sm-center text-md-right text-lg-right text-xl-right">
        <small class="pr-3">Sayt MYWEB.UZ studiyasida ishlab chiqilgan.</small>
  
      </div>
  </div>
    </div>
  </footer>
  
  
    <!-- <div class="fakeLoader"></div> -->
    <button class="btn btn-outline-danger btn-top" title="ScrollTop"><i class="fa fa-angle-up"></i></button>
  
  <!-- <div class="fakeLoader"></div> -->
  <button class="btn btn-outline-danger btn-top" title="ScrollTop"><i class="fa fa-angle-up"></i></button>
  
  
  
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/fakeLoader.min.js"></script>
    <script src="js/script.js"></script>
  
  </body>
  </html>
  